---
layout: value-driver
title: "GitOps: The Future of Infrastructure Automation"
description: A live panel discussion with Weaveworks, Hashicorp, Ansible, and GitLab.
suppress_header: true
extra_css:
  - value-driver-6595-control.css
  - comparison-page.css
  - form-to-resource.css
  - just-commit-6595-control.css
destination_url: ""
form_id: "2432"
form_type: "resources"
cta_title: "Free webcast:<br>GitOps: The Future of Infrastructure Automation"
cta_date:
cta_subtitle:
link_text: "Thanks for registering!"
success_message: "You will receive a confirmation in your inbox shortly."
---
%div#experiment6595.experiment-outer-wrapper
  %span.loading-experiment
  %div.experiment-container.experiment-control
    .wrapper.gitlab-ee-page
      .header-hero-banner.header-hero-banner--reduce-cycle{style: 'background-image:url(/images/gitops-use-case-landing-page-header.png)'}
        .container
          .row
            .col-md-12
              %h1.jumbo-heading GitOps:<br> The Future of Infrastructure Automation
              %h3 A live panel discussion with Weaveworks, Hashicorp, Ansible, and GitLab.

      .sub-wrapper.main-content
        .container
          .row
            .col-md-7
              .just-commit-intro-text
                %p <strong>July 15, 9.00-10.00 am PT / 4.00 - 5.00 pm UTC</strong>
                %p With the demands made on today's infrastructure, it's crucial for organizations to implement infrastructure automation that is repeatable, traceable, and less prone to human error. GitOps takes DevOps best practices used for application development, such as version control, collaboration, compliance, and CI/CD, and applies them to modern infrastructure automation.
                %p Join us for a live panel discussion where we ask tech leaders what teams need to make the shift to GitOps, and the benefits of managing infrastructure using GitOps. 
            .col-md-5
              .just-commit-form-wrap
                = partial "includes/form-to-resource"

      .just-commit-highlight-row
        .container
          .row
            .col-md-5
              %h3 What you will learn
              %ul.checkmark-list
                %li How GitOps is changing the landscape of infrastructure management
                %li What successful GitOps looks like  
                %li What teams need to get started on  their GitOps journey
              %h3 Speakers
              %ul.checkmark-list
                %li Cornelia Davis, CTO at Weaveworks
                %li Timothy Appnel, Senior Principal Product Manager at Red Hat Ansible  
                %li Ray Ploski, Field CTO at Hashicorp
                %li Brendan O’Leary, Sr. Developer Evangelist at GitLab
                %li Moderator: William Chia, Sr. Product Marketing Manager at GitLab

:css
  body {
    background: #ffffff;
  }

  .footer {
    margin-top: 0;
  }
