<% add_extra_css('salary-calculator.css') %>
<% add_extra_js('libs/vue.min.js', 'libs/core-js.url.js', 'bundles/hypergrowth-calculator.js') %>

<h3 id="hypergrowth-calculator">Hypergrowth Calculator</h3>
<noscript class="hypergrowth-calculator">
  <p>Please enable JavaScript to be able to utilize the hypergrowth calculator</p>
</noscript>
