%ul
  .nav-cta-container
    - if current_page.data.header_primary_cta_text
      - if current_page.data.event_register_url
        %a.btn.btn-nav-cta.btn-nav-link-cta{href: current_page.data.event_register_url}
          = current_page.data.header_primary_cta_text
      - else
        %a.btn.btn-nav-cta.btn-nav-link-cta{href: current_page.data.header_primary_cta_url}
          = current_page.data.header_primary_cta_text
